.comment-section {
    margin: 50px;
    border: 2px solid lightgray;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(88, 137, 146);
}
.comment-body {
    margin: 50px;
    border: 2px solid lightgray;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(144, 145, 146);
}
.comment {
    font-size: 20px;
    color: cyan;
}